body {
    display: flex;
    flex-direction: column;
    background-color: #e1dbd6;
}

header {
    text-align: center;
    font-size: 32px;
    font-family: "Chivo", sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: flex-start;  /* Center the child elements */
    gap: 100px;
    margin: 0 auto;
    padding: 0px;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.grid-container {
    display: flex;
    width: 600px;
    height: 600px;
    border-style: solid;
    border-width: 3px;
    background-color: white;
}

.tile {
    margin: 0;
    padding: 0;
    background-color: white;
}