body {
    display: flex;
    flex-direction: column;
    background-color: #ADC4CE;
    color: #F1F0E8;
    font-family: "Chivo", sans-serif;
    margin: 0;
    min-height:  100vh;
}

header {
    text-align: center;
    font-size: 42px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    background-color: #EEE0C9;
    color: #96B6C5;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 75px;
    margin: 0 auto;
    padding: 0px;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    gap: 30px;
}

#colour-picker {
    padding: 0;
    width: 100px;
    height: 50px;
}

.button {
    width: 200px;
    height: 40px;
    background-color: #F1F0E8;
    border-radius: 7px;
    color: #ADC4CE;
    font-size: 20px;
    transition: all 0.07s ease;
}

.button-hover {
    transform: scale(1.1);
    border-color: #F1F0E8;
    box-shadow: 0 0 1rem #F1F0E8;
}

.slider-container {
    margin-top: 15px;
}

.slider {
    width: 200px;
}

.slider-text {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}







.grid-container {
    display: flex;
    width: 600px;
    height: 600px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    background-color: white;
    margin-bottom: 35px;
}

.tile {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #96B6C5;
    color: #FFFFFF;
    position: relative;
    bottom: 0px;
    width: 100%;

    margin-top: auto;
}

.footer-text {
    text-align: center;
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}

a:hover {
    text-decoration: underline;
}